body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  color: #333;
  width: 100%;
}

html {
    width: 100%;
}

header {
  background-color: #b5122d;
  color: white;
  padding: 20px;
  text-align: center;
}

header h1 {
  margin: 0;
  font-size: 28px;
}

header p {
  margin: 5px 0 0;
  font-size: 14px;
}

.hero {
  padding: 60px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.quote-box {
  flex: 1;
  min-width: 250px;
  max-width: 350px;
  border-left: 4px solid #b5122d;
  padding: 20px;
  margin: 10px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  border-radius: 8px;
  font-style: italic;
}

.content-box {
  flex: 2;
  min-width: 280px;
  max-width: 600px;
  margin: 10px;
}

.content-box h2 {
  color: #b5122d;
  font-size: 24px;
  margin-bottom: 15px;
}

.content-box p {
  line-height: 1.6;
}

footer {
  background: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
  margin-top: 30px;
}

footer a {
  color: #b5122d;
  text-decoration: none;
  font-weight: bold;
}
    
.img-carrossel {
  width: 100%;
  object-fit: cover;
  height: 300px;
}